node_modules
dist
.git
.env
.env.example
.vscode
.idea
coverage
test
docker-compose.yaml
Dockerfile
.dockerignore
.eslintrc*
eslint.config.*
prettierrc*
.prettierrc*
jest.config.*
jest-e2e.json
.npmrc
.gitignore
.gitattributes
.nvmrc
.editorconfig
*.md
LICENSE
